<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <div class="row">
      <div class='col-md-12'>
        <%= render 'category', movies: @featured, category: 'featured' %>
      </div>
    </div>

    <div class="row">
      <div class='col-md-12'>
        <%= render 'category', movies: @latest, category: 'latest' %>
      </div>
    </div>

    <div class="row">
      <div class='col-md-12'>
        <%= render 'category', movies: @top_rated_movies, category: 'top_rated_movies' %>
      </div>
    </div>
  </div>

  <div class="col-md-2"></div>
</div>
