<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class='col-md-12'>
        <%= render 'category', movies: @featured, category: 'featured' if @featured.present? %>
      </div>
    </div>

    <div class="row">
      <div class='col-md-12'>
        <%= render 'category', movies: @latest, category: 'latest' if @latest.present? %>
      </div>
    </div>

    <div class="row">
      <div class='col-md-12'>
        <%= render 'category', movies: @top_rated_movies, category: 'top_rated_movies' if @top_rated_movies.present? %>
      </div>
    </div>
  </div>

  <div class="col-md-2"></div>
</div>
