.devise_pages {
  background-color: #f2f2f2;
}

.vertical-offset-100 {
  padding-top:100px;
}

.vertical-offset-50 {
  padding-top: 50px;
}

.devise_buttons {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.footer-custom {
  background-color: #0d0d0d;
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
}

#header_search {
  margin-right: 20px;
  margin-top: 8px;
}

#search_bar {
  display: none;
}

.header-btn {
  margin-top: 8px;
}

.background-image1 {
  position: fixed;
  left: 0;
  right: 0;
  top: -100px;

  display: block;
  background-image: url(background.jpg);
  width: 100%;
  height: 1000px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
