.devise_pages {
  background-color: #f2f2f2;
}

.vertical-offset-100 {
  padding-top:100px;
}

.vertical-offset-50 {
  padding-top: 50px;
}

.devise_buttons {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.footer-custom {
  background-color: #0d0d0d;
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
}

.fixed-height {
  min-height: 550px;
}
