<% if @created_review.errors.any? %>
  $('#review_error').html("<ul><% @created_review.errors.full_messages.each do |message| %><li class='btn btn-warning'><%= message %></li><% end %></ul>");
<% else %>
  $('#review-list').append("<%= j render @created_review %>");
  $('#review-container').html("<%= j render('form') %>");
<% end %>
