<%= form_tag movies_path, method: :get, class: 'form-inline' do %>
  <div id='header_search' class='form-group'>
    <%= text_field_tag :search, params[:search], class: 'form-control', id: 'search_bar', placeholder: 'Search Movies' %>
    <%= button_tag '', type: 'submit', class: 'btn btn-primary glyphicon glyphicon-search pull-right' %>
  </div>
<% end %>
